In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [5]:
aisles = pd.read_csv('aisles.csv')
departments = pd.read_csv('departments.csv')
prior = pd.read_csv('order_products__prior.csv')
train = pd.read_csv('order_products__train.csv')
order = pd.read_csv('orders.csv')
products = pd.read_csv('products.csv')

In [10]:
order.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [38]:
df = pd.concat((train, prior), axis=0, ignore_index=True, sort=False)

In [39]:
df.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [26]:
order['days_since_prior_order'].fillna(order['days_since_prior_order'].mean(), inplace=True)

In [41]:
df = pd.concat((df, order), axis=0, ignore_index=True, sort=True)

In [42]:
df.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,49302.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,11109.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1,10246.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1,49683.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,43633.0,5.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
Q.